<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='scss/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='scss/jquery.dataTables.min.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
</head>
<body class="loggedin content"> 
    <nav class="admin-menu">
        <div class="flex-form">
            <h1>Admin</h1>
            <a href="{{ url_for('sign_out') }}" class="btn btn-red">Sign Out</a>
        </div>
        <ul>
            <li><a href="{{ url_for('admin_dashboard') }}">Dashboard</a></li>
            <li><a href="{{ url_for('admin_users') }}">User</a></li>
            <li><a href="{{ url_for('admin_class') }}">Class</a></li>
        </ul>
    </nav>
    <div>
        {% block content %} {% endblock %}
    </div>

    <footer class="footer"></footer>
    
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <!-- Do something with the message -->
                <div class="notification-popup {{category}}">
                    <span>{{ message }}</span>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block script %} {% endblock %}
    <div id="successAlert" role="alert" style="display:none;"></div>
    <div id="errorAlert" role="alert" style="display:none;"></div>
</body>
</html>