<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='scss/style.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</head>
<body>
    <div class="sign-wrapper">
        <div class="left-container">
            <h1>E-learning Monitoring Tool: 
                Student Activity Tracker</h1>
        </div>
        <div class="right-container">
            <h1>Sign Up</h1>
            <form action="{{ url_for('sign_up') }}" method="POST">
                <div class="sign-up-form">
                    <div>
                        <div class="input-container">
                            <label>I am a/an</label>
                            <select id="type" name="type">
                                <option value="student">Student</option>
                                <option value="instructor">Instructor</option>
                              </select>
                        </div>
                        <div class="input-container">
                            <label>Fullname:</label>
                            <input type="text" name="fullname" id="fullname" placeholder="Your Name">
                        </div>
                        <div class="input-container">
                            <label>Email Address:</label>
                            <input type="email" name="email" id="email" placeholder="your@email.com">
                        </div>
                    </div>
                    <div class="margin">
                        <div class="input-container">
                            <label>Username:</label>
                            <input type="text" name="username" id="username" placeholder="username">
                        </div>
                        <div class="input-container">
                            <label>Password:</label>
                            <input type="password" name="password" id="password" placeholder="•••••••••••••">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-blue">Sign Up</button>
            </form>
            <span>Already have an account? <a href="{{ url_for('sign_in') }}">Sign In Here</a> </span>
        </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <!-- Do something with the message -->
                <div class="notification-popup {{category}}">
                    <span>{{ message }}</span>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</body>
</html>